:root{
  --main-color: rgb(14, 102, 102);
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Inter,-apple-system,BlinkMacSystemFont,sans-serif;
  color: black;
}

header{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  margin: 20px;
}

#author{
  font-size: 2rem;
  text-decoration: underline 5px var(--main-color);
  text-underline-offset: 6px;
  margin: 0.75rem;
}

nav{
  margin-top: 10px;
}

nav ul{
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul a{
  font-size: 1.5rem;
  color: var(--main-color);
  text-decoration: none;
}

nav ul a:hover, nav ul a:focus{
  color: black;
}

#what-i-code{
  display:grid;
  justify-content: center;
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
  padding: 5rem;
  border: 3px dashed gray;
  background-color: lightgray;
  font-size: 1.5rem;
}

#anim-box{
  display: flex;
  padding-top: 25px;
  justify-content: center;
  color: var(--main-color);
}