:root{
  --main-color: rgb(14, 102, 102);
}

a{
  text-decoration: none;
  color: black;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Inter,-apple-system,BlinkMacSystemFont,sans-serif;
  color: black;
}

header{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  margin: 20px;
}

#author{
  font-size: 2rem;
  text-decoration: underline 5px var(--main-color);
  text-underline-offset: 6px;
  margin: 0.75rem;
}

nav{
  margin-top: 10px;
}

nav ul{
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul a{
  font-size: 1.5rem;
  color: var(--main-color);
}

nav ul a:hover{
  color: black;
}

#what-i-do{
  display:grid;
  justify-content: center;
  text-align: center;
  padding: 5rem;
  background-image: url("../graphics/fiverr_tlo.png");
  background-size: cover;
  background-position: center;
  font-size: 1.5rem;
}

#what-i-do #box{
  border: 3px transparent var(--main-color);
  border-radius: 15px;
  padding: 50px;
  min-width: 160px;
  max-width: 160px;
  background-color: rgba(14, 102, 102, 0.151);
}

#anim-box{
  display: flex;
  padding-top: 25px;
  justify-content: center;
}
#anim-text{
  color: var(--main-color);
}
#anim-text-end{
  color: rgba(14, 102, 102, 0);
}